body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d3d8d7; /* gray400 */
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: #eef0ef; /* gray300 */
  border-radius: 4px;
}

*::-webkit-scrollbar-button {
  display: none;
}
